html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}
    .Navbar{
        position: fixed;
        top: 20px;
        left: 20px;
        bottom: 20px;
        width: 70px;
        border-radius: 10px;
        box-sizing: initial;
        border-left: 5px solid #4d5bf9;
        background: #4d5bf9;
        transition: width 0.5s;
        overflow-x: hidden;
        z-index: 999;
        }
        .Navbar.active{
            width: 300px;
        }
        .Navbar ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 5px;
        padding-top: 40px;
        }
        .Navbar ul li{
        position: relative;
        list-style: none;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        
        }
        .Navbar ul li.active{
            background: #4d5bf9;
        }
        
        .Navbar ul li.active a{
            color: white;
        }
        .Navbar ul li a:hover{
            color: black;
            background: white;
            border-radius: 10px;
            right: 5px;
        }
        .Navbar ul li a{
        position: relative;
        display: flex;
        width: 100%;
        text-decoration: none;
        color: white;
        }
        .Navbar ul li a .icon{
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            line-height: 60px;
           text-align: center;
        }
        .Navbar ul li a .icon ion-icon{
                font-size: 1.5em;
        }
        .Navbar ul li a .title{
              position: relative;
              display: block;
              padding-left: 10px;
              height: 60px;
              line-height: 60px;
              white-space: normal;
        }
        .toggle{
            position: relative;
            top: -15px;
            left: 1px;
            width: 50px;
            height: 50px;
            background: #4d5bf9;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 998;
        }
        .toggle.active{
            background: red;
        }
        .toggle ion-icon{
            position: absolute;
            color: white;
            font-size: 34px;
            display: none;
        }
        .toggle ion-icon.open,
        .toggle.active ion-icon.close
        {
            display: block;
        }
        .toggle ion-icon.close,
        .toggle.active ion-icon.open{
            display: none;
        }