.nav-link{
    display: block;
    background: red;
    color: black;
    padding: 10px  30px;
    margin: auto;
    
    }

    /*.conatainer{
     position: fixed;
     width: 100%;
     z-index: 999;
     }*/
    /*.contenido{
        margin-top: 30px;
        margin-left: 250px;
        margin-right: 250px;
        }*/
           body{
            margin: 0;
            padding: 0;
            font-family: 'Oswald', sans-serif;
        }
        .izquierdo{
        background: url(https://img2.rtve.es/i/?w=1600&i=1627897048689.jpg);    
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 100vh;
        }
        .derecho{
            background: gold;
            height: 100vh;
            width: 50%;
            text-align: center;
            padding-top: 40px;
        }
        
        #pantallla-dividida{
            display: flex;
        }
        
        .friendly{
            color: white;
        }
        
      
        
        h1{
            font-size: 100px;
            width: 50%;
            margin: auto;
              margin-bottom: 40px;
        }
        
        p{
            font-size: 25px;
            line-height: 30px;
            width: 50%;
            margin: auto;
        }
        
       .Objetivo{
           font-size:18px;
            padding: 15px;      
            display: inline-block;
            margin-top: 15px;
           }
           .Link{
               text-align: center;
           }
           
           @media screen and (max-width:1000px){
        section{
            flex-direction: column-reverse;
         
        }
        
        section>img{
            height: 40%;
        }
        
        .Contenedor-txt{
            text-align: justify;         
        }
    }
    
    @media screen and (max-width: 600px){
       section>img{
            height: 25%;
        } 
    }
    