.nav-link{
    display: block;
    background: darkgray;
    color: black;
    padding: 10px  30px;
    margin: auto;
    }
    
    
    .container{
     position: fixed;
     width: 100%;
     z-index: 999;
    }
    
    
    .Contenido{
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    }
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      font-family: 'Oswald', sans-serif;
    }
    
    section{
        height: 804px;;
        display: flex;
        justify-content: space-evenly;
        padding: 0 40px;
        align-items: center;
    }
    
    img{
        display: flex;
        display: inline-block;
        
    }
    
     .Contenedor-txt{
            text-align: justify;  
            
        }
        
     section img{
        height: 60%;
    }
    
    section:nth-child(2){
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    
    @media screen and (max-width:1000px){
        section{
            flex-direction: column-reverse;
         
        }
        
        section>img{
            height: 40%;
        }
        
        .Contenedor-txt{
            text-align: justify;         
        }
    }
    
    @media screen and (max-width: 600px){
       section>img{
            height: 25%;
        } 
    }
    
    
    