html{
    scroll-behavior: smooth;
}

.nav-link{
display: block;
background: darkgray;
color: black;
padding: 10px  30px;
margin: auto;
}


.container{
 position: fixed;
 width: 100%;
 z-index: 999;
}

.Contenido{
margin-top: 25px;
margin-left: 300px;
margin-right: 300px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Oswald', sans-serif;
}

p{
font-size: 20px;
text-align: center;
}

a{
margin-left: 43%;    
}

.iconoSVG{
  
    height: 25px;
    width: 25px;
   }

section{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

section h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}

section p{
    font-weight: 300;
    margin-bottom: 15px;
}

section a{
   
    padding-bottom: 8px;
    padding-top: 8px;
    color: black;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    background: white;
   }



section img{
    height: 60%;
}

section:nth-child(2){
background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

section:nth-child(3){
background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
section:nth-child(4){
 background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 57%, #7046aa 78%, #0c1db8 92%, #020f75 100%);
}

@media screen and (max-width:1000px){
    section{
        flex-direction: column-reverse;
     
    }
    
    section>img{
        height: 40%;
    }
    
    .Contenedor-txt{
        text-align: justify;         
    }
}

@media screen and (max-width: 600px){
   section>img{
        height: 25%;
    } 
}
